
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  size: 64;
}

* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; 
}

.open-nav {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {

  .main-content {
    margin-left: 0px;
  }

  .hamburger, .close-x {
    display: block;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    opacity: 0.75;
    border-bottom: 1px solid black;
    background: #858089;
    border-radius: 0 20% 60% 0;
    transform: translateX(-100%); 
    transition: transform .5s ease-in-out; 

    ul {
      padding: 0;
      margin-top: 8em;

      a {
        padding: .75em 23em;
        display: block;
        width: 100%;
        &:hover {
          background: white;
        } /*  hover */


        
      } /* a */
    
    } /* ul */

    .close-x {
      display: block;
      position: absolute;;
      top: 5px;
      left: 100px;
      margin: 2em;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
    }
    
  } /* nav */

} /* media */ 



.close-x {
  position: fixed;
  top: 0.5em;
  left: 15em;
  margin: 2em;
  width: 1.5em;
  height: 1.5em;
}
.side_bar {
  width: 160px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.hamburger , .close-x {
  position: fixed;
  top: 0;
  left: 5;
  border-bottom: 5px 5px;
}

a:hover {
  padding: 7px 14px;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.6rem 0.3rem;
  font-weight: 400;
  transition: all ease-out 250ms;
}


nav li a:hover {
  color: lime;
}

// .main-content { 

//   font-family: 'Koulen';
  
// } 

section {
  display: flex;
  flex-direction: column;
  background-color: #14191A;
  height: 90vh;
  margin:0;
  padding:2.5rem 4rem;
  position: relative;
  z-index: -1;
}

section:nth-of-type(2n) {
  background-color: #ccc;
}

section#home {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
/* section:last-of-type { */
/*   height: 100vh; */
/* } */

section#credits {
  height: 30vh;
  background: #151515;
}

section#stack {
  flex-direction: column;
  align-items: flex-end;;

}

section#contact {
  flex-direction: row;
  align-items: flex-start;
  h1 {
    color: #14191A;
  }
}

section#about {
  flex-direction: column;
  align-items: center;
  h1 {
    color: #14191A;
  }

}
h1 {
  color: white;
  font-weight: 600;
  /* padding: 150px; */
  text-align: center;
  align-items: center;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
 
}

#head1 {
  font-size: 3em;
}

.active {
  color: lime; 
  font-weight: 600;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  align: left;
  cursor: pointer;
  display: block;
}

.logo-parent {
  position: relative;
}

#logo {
  position: fixed;
  top: 10px;
  left: 40%;
  font-size: 40px;
  display: block;
}


// Triangle
.custom-shape-divider-bottom-1652094609 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1652094609 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 104px;
}

.custom-shape-divider-bottom-1652094609 .shape-fill {
    fill: #ccc;
}


// Curve

.custom-shape-divider-bottom-1652095691 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652095691 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.custom-shape-divider-bottom-1652095691 .shape-fill {
    fill: #14191A;
}


// Multiple Waves
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('svg/layered-waves-haikei.svg');
  
}

// Multiple Waves
.custom-shape-divider-top-1652098078 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652098078 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1652098078 .shape-fill {
    fill: #14191A;
}



.custom-shape-divider-bottom-1652102878 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652102878 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1652102878 .shape-fill {
    fill: #151515;
}
